/* Update your detalhe.css file */


  
  .video-container {
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    text-align: center;
  }
  
  .video-container p.description {
    font-size: 16px;
    color: #fff;
    background-color: #333; /* Dark background color for better visualization */
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif; /* Example font-family, you can change it */
  }
  
  .link-back {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #606060;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .link-back:hover {
    background-color: #f0f0f0;
  }
  